.gt-container {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  gap: .5ch;
  font: inherit;
  user-select: none;
  will-change: transform, opacity;
}

.gt-word {
  display: inline-block;
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform, opacity;
  pointer-events: none;
  color: var(--text-color-secondary);
}

.gt-container[data-done="true"] {
  opacity: 0;               
  pointer-events: none;       
}
.gt-word:nth-child(2) ,
.gt-word:nth-child(5)  {
  background: linear-gradient(90deg, #0099ff, #00e7b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}