@use './variables/color_variables.scss';

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");




* {
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Inter', sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

button {
  all: unset;
  cursor: pointer;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  color: inherit;
}
