.pt-section {
  position: relative;
  width: 100%;
  height: 220vh;

  .pt-stage {
    position: relative;
    height: 100%;
    overflow: visible;
  }

  .pt-slot1 {
    position: sticky;
    top: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 2;
  }

  .pt-slot2 {
    position: relative;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 3;
    margin-top: 0; 
  }
}
