.light {
  --bg-color: #ffffff;
  --text-color: #1f2937;
  --primary-color: #4f46e5;
  --secondary-color: #6366f1;
  --accent-color: #ec4899;
  --border-color: #e5e7eb;
  --card-bg: #f9fafb;
  --shadow-color: rgba(0, 0, 0, 0.05);
}


.dark {
  --bg-color: #0f172a;
  --text-color: #f1f5f9;
  --primary-color: #6366f1;
  --secondary-color: #818cf8;
  --accent-color: #f472b6;
  --border-color: #334155;
  --card-bg: #1e293b;
  --shadow-color: rgba(255, 255, 255, 0.05);
}
